::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #2d343c;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background-color: #555962;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}
